body {
  margin: 0;
  padding: 0;
  background-image: url("./Images/mountain.jpg");
  font-family: "Poppins", sans-serif;
}
form {
  position: absolute;
  top: 30%;
  /* left: 50%; */
  left: 50%;
  transform: translate(-50%, 50%);
  width: 300px;
  background-color: transparent;
  height: 300px;
  text-align: center;
  z-index: 3;

  /* background: linear-gradient(to right bottom, rgba(255, 255, 255,0.2), rgba(255,255, 255, 0.2)); */
  /* filter: blur(1px); */
}
.glass {
  border-radius: 20px;
  position: absolute;
  top: 30%;
  /* left: 50%; */
  left: 50%;
  transform: translate(-50%, 50%);
  width: 300px;
  background-color: grey;
  height: 300px;
  /* transition-property: glass; */
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  z-index: 1;
  transition: 0.25s;
}

form input[type="text"],
form input[type="password"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid burlywood;
  border-radius: 24px;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;

  transition: all 0.2s ease-out;
}
form h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
input[type="text"]:focus,
input[type="password"]:focus {
  width: 280px;
}
form:hover > h1 {
  position: relative;
  bottom: 160px;
  font-size: 50px;
  transition: 0.25s;
}

form:hover ~ .glass {
  backdrop-filter: blur(3px);
  filter: blur(1px);
  transition: 0.5s;
  transform: scale(2, 2);
  height: 400px;
  transform-origin: right;
}
